<h4 align = "center"> Announcements </h4>

<%@announcements.each do |announcement|%>
  <%@user = User.find(announcement.user_id)%>
  <div class="col s12 m12">
    <div class="card fill-width">
      <div class="card-content">
        <span class="card-title">
          <div class = "">
            <%if @user.profileImage.present?%>
              <%= image_tag @user.profileImage_url.to_s, class: 'material-icons circle medium profImage line-height' %>
            <%else%>
              <i class="material-icons circle medium">account_circle</i>
            <%end%>
            <%=link_to @user.fullname, user_path(@user.id)%>
          </div>
            <%=announcement.created_at.to_formatted_s(:month_and_year)%>
          </span>
      <%=announcement.content%>
      </div>
      <%if current_user.role == "teacher"%>
        <div class="card-action">
          <%=link_to "Delete Announcement", announcement_path(announcement.id), method: :delete, data: {confirm: "Are you sure you want to delete this announcement?"}, class: 'red-text'%>
        </div>
      <%end%>
    </div>

  </div>
<%end%>

<!-- users/index.html.erb -->
<%@users = User.all%>
<ul>
  <% @users.each do |u| %>
    <li>
      <%= u.email %>
      <%=
        link_to "Delete", 
        user_path(u), 
        method: :delete, 
        data: { confirm: "Really delete this user?" } 
      %>
    </li>
  <% end %>
</ul>