<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div class="row">
    <div class="col s12 m12">
      <div class="card fill-width">
        <div class="card-content">
          <span class="card-title">
            <div class = "row">
              <%if obj.user.profileImage.present?%>
                <%= image_tag obj.user.profileImage_url.to_s, class: 'material-icons circle medium profImage line-height' %>
              <%else%>
                <i class="material-icons circle medium">account_circle</i>
              <%end%>
              <b><%=link_to obj.user.fullname, user_path(obj.user.id)%></b>
              <span class = "grey-text"><small>Submitted <%=obj.created_at.to_formatted_s(:month_and_year)%></small></span>
              <!-- If Object Late -->
              <%if current_user.role == "teacher" || current_user.admin == "true" || current_user.id == obj.user_id%>
                <%if !obj.ontime%>
                  <div class="chip yellow lighten-2">
                    <p align = "center"><b>Late</b></p>
                  </div>
                <%end%>
              <%end%>
              <!-- If Object Graded -->
              <%if current_user.role == "teacher" || current_user.admin == "true" || current_user.id == obj.user_id%>
                <%if obj.assignment.totalpoints != 0%>
                  <%if obj.points != nil%>
                    <div class="chip blue lighten-2">
                      <% @grade_percentile = (Float(obj.points) /Float(obj.assignment.totalpoints)) * 100 %>
                      <p align = "center"><b><%= @grade_percentile.truncate(2) %>%</b></p>
                    </div>
                  <%end%>
                <%end%>
              <%end%>
              <a class=" same-height assignmentmore dropdown-trigger " href='#' data-target='<%=obj.id%>'><i class="material-icons">more_vert</i></a>
              <!- Dropdown content ->
              <ul id='<%=obj.id%>' class='dropdown-content'>
                <b>Comment Actions</b>
                <li class="divider" tabindex="-1"></li>
                
                  <%if current_user.id == obj.user_id%>
                    <li>
                      <%= link_to edit_submission_path(obj.id) do %>
                        <span class = "line-height"><i class="material-icons">edit</i>Edit Submission</span>
                      <%end%>
                    </li>
                  <%end%>
                
                <%if current_user.role == "teacher" || current_user.id == obj.user_id%>
                  <li>
                    <%= link_to submission_path(obj.id), method: :delete, data: {confirm: "Are you sure you want to delete this submission?"} do %>
                      <span class = "line-height"><i class="material-icons">delete</i>Delete Submission</span>
                    <% end %>
                  </li>
                <%end%>
            </div>
          </span>
          <p class = "bullet"><%=obj.content%></p>
          <div class = "row">
            <div class = "col s1">
              <span class = "grey-text">
                <%if obj.assignment%>
                  <%if current_user.role == "teacher" || current_user.admin == "true" || current_user.id == obj.user_id%>
                    <%if obj.assignment.totalpoints != 0%>
                      <%= form_for(obj, :html => {class: "form-horizontal", role: "form"}) do  |f| %>
                        <div class = "form-padding">
                          <%= f.text_field :points,  id: 'points', type: "number", class:"form-control", disabled: !is_teacher?,  placeholder: "X" %>/<%=obj.assignment.totalpoints%>
                        </div>
                      <%end%>
                    <%end%>
                  <%end%>
                <%end%>
              </span>
            </div>
          </div>           
      </div>
        <!- Comment View->
        <hr>
        <%@comments = obj.comments_submissions%>
        <%if @comments.size >0%>
          <% @comments.each do |comment| %>
          
            <div class = "comment">
             <div class = "commentIcon">
              <%if comment.user.profileImage.present?%>
                <%= image_tag comment.user.profileImage_url.to_s, class: 'material-icons circle medium profImage line-height' %>
              <%else%>
                <i class="material-icons circle medium">account_circle</i>
              <%end%>               
             </div>
             <div class = "commentText"><div id = "rcorners1"><b><%=link_to comment.user.fullname, user_path(comment.user.id)%></b>&nbsp<%=comment.commentText%>
             <a class=" commentmore dropdown-trigger" href='#' data-target='<%=comment.id%>'><i class="material-icons">more_horiz</i></a>
              </div></div>
            </div>
            <!- Dropdown content ->
            <ul id='<%=comment.id%>' class='dropdown-content'>
              <b>Comment Actions</b>
              <li class="divider" tabindex="-1"></li>
              
                <%if current_user.id == comment.user_id%>
                  <li>
                    <%= link_to edit_comments_submission_path(comment.id) do %>
                      <span class = "line-height"><i class="material-icons">edit</i>edit Comment</span>
                    <%end%>
                  </li>
                <%end%>
              
              <%if current_user.role == "teacher" || current_user.id == comment.user_id%>
                <li>
                  <%= link_to comments_submission_path(comment.id), method: :delete, data: {confirm: "Are you sure you want to delete this comment?"} do %>
                    <span class = "line-height"><i class="material-icons">delete</i>Delete Comment</span>
                  <% end %>
                </li>
              <%end%>
            </ul>
          <%end%>
        <%end%>            
        
        <!- Link to leave a comment->
        <div align = "left">
          <i class="material-icons icon-comment line-height">mode_comment</i><a class = "grey-text margin-side commentbutton astext">Leave a Comment</a>
        </div>
        <!- Comment Submission form->
        <div class = "hidden commentbox" id = "commentbox">
          <%= form_with model: @comment do |form| %>
            <div class="field bullet">
              <%= form.label "Submission" %>
              <%= form.rich_text_area :commentText %>
              <%= form.text_field :submission_id, value: obj.id, class: 'hidden' %>
            </div>
            <div class="form-group" id="submitbutton">
              <div align = "center">
                  <%= form.submit "Leave Comment",  class: "btn waves-effect waves-light" %>
              </div>
            </div>
          <% end %>            
        </div>
        <div class="card-action">
          <%=link_to "Delete Submission", submission_path(obj.id), method: :delete, data: {confirm: "Are you sure you want to delete this submission?"}, class: 'red-text'%>
        </div>
      </div>
    </div>
</div>



