<div class="row">
    <div class="col s12 m12">
      <div class="card fill-width">
        <div class="card-content">
          <span class="card-title">
            <div class = "row">
              <i class="material-icons circle">account_circle</i>
              <b><%="#{obj.user.firstname} #{obj.user.lastname}" %> </b>
              <span class = "grey-text"><small>Submitted <%=obj.created_at.to_formatted_s(:month_and_year)%></small></span>
              <!-- If Object Late -->
              <%if !obj.ontime%>
                <div class="chip yellow lighten-2">
                  <p align = "center"><b>Late</b></p>
                </div>
              <%end%>
              
              <!-- If Object Graded -->
              <%if obj.points != nil%>
                <div class="chip blue lighten-2">
                  <% @grade_percentile = (Float(obj.points) /Float(obj.assignment.totalpoints)) * 100 %>
                  <p align = "center"><b><%= @grade_percentile.truncate(2) %>%</b></p>
                </div>
              <%end%>
            </div>
          </span>
          <p class = "bullet"><%=obj.content%></p>
          <div class = "row">
            <div class = "col s1">
              <span class = "grey-text">
                <%if obj.assignment%>
                  <%if obj.assignment.totalpoints != 0%>
                    <%= form_for(obj, :html => {class: "form-horizontal", role: "form"}) do  |f| %>
                      <div class = "form-padding">
                        <%= f.text_field :points,  id: 'points', type: "number", class:"form-control", placeholder: "X" %>/<%=obj.assignment.totalpoints%>
                      </div>
                    <%end%>
                  <%end%>
                <%end%>
              </span>
            </div>
          </div>           
      </div>
        <div class="card-action">
          <%=link_to "Delete Submission", submission_path(obj.id), method: :delete, data: {confirm: "Are you sure you want to delete this submission?"}, class: 'red-text'%>
        </div>
      </div>
    </div>
</div>


