<p align = "right">
  <%if current_user.role == "teacher" || current_user.admin == true%>
    <%=link_to "Create Unit", new_unit_path, class: "waves-effect waves-light btn-small blue"%>
  <%end%>
</p>

<h2 align = "center">UNITS</h2>


<div class="row">
    <%if current_user.role == "teacher" || current_user.admin == true%>
      
    <%else%>
      <%@units = current_user.units.paginate(page: params[:page], per_page: 9)%>
    <%end%>
      <%if @units.size > 0 %>
        <% @units.each do |unit| %>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <%= link_to image_tag("office.jpg"), unit_path(unit.id) %>
                <a class="btn-floating halfway-fab waves-effect waves-light grey dropdown-trigger" href='#' data-target='<%=unit.id%>'><i class="material-icons">settings</i></a>
              </div>
              <div class="card-content">
                  <span class="card-title black-text"><%=link_to unit.name, unit_path(unit.id)%></span>
              </div>
              <div class="card-action">
                <%=link_to "Open Unit", unit_path(unit.id)%>
                <%=link_to "Delete Unit", unit_path(unit.id), method: :delete, data: {confirm: "Are you sure you want to delete this unit?"}, class: 'red-text'%>
              </div>
            </div>
          </div>
          <ul id='<%=unit.id%>' class='dropdown-content'>
            <li><%=link_to "Open Unit", unit_path(unit.id), class: "blue-text"%></li>
            <li class="divider" tabindex="-1"></li>
            <li>
              <%= link_to edit_unit_path(unit.id) do %>
                <div class = "line-height"><i class="material-icons">edit</i>Edit Unit</div>
              <% end %>
            </li>
            <li>
              <%= link_to unit_path(unit.id), method: :delete, data: {confirm: "Are you sure you want to delete this unit?"} do %>
                <span class = "line-height"><i class="material-icons">delete</i>Delete Unit</span>
              <% end %>
            </li>
          </ul>
        <%end%>
      <%end%>
</div>
<div align = "center">
    <%= will_paginate @units %>
</div>


