<%= render 'shared/errors', obj: @unit %>


<%= form_for(@unit, :html => {class: "form-horizontal", role: "form"}) do  |f| %>
    <div class="form-group">
        <div>
            <%=f.label "Unit Name"%>
            <%= f.text_field :name, class:"form-control", placeholder: "Title of Unit", autofocus: true %> 
        </div>
        <div class = "xtrapadding">
            <%=f.label "Select Intern(s)"%>
            <%= f.collection_select(:user_ids, User.all, :id, (:firstname + :lastname) , {placeholder: "Intern(s)"}, {multiple: true} )%>
        </div>
        <div class="field">
            <b><%= f.label :description %></b>
            <%= f.rich_text_area :description %>
        </div>
        <div class="form-group" id="submitbutton">
            <div align = "center">
                <%= f.submit  class: "btn waves-effect waves-light" %>
            </div>
        </div>
    </div>
<%end%>