<!DOCTYPE html>
<html>
  <head>
    <title>TrinityInternship</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="trix.css">
    <script type="text/javascript" src="trix.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <main>
      <%= render 'layouts/navbar'%>
      <%= render 'layouts/messages' %>
      <div class="container">
        <div class="card-panel z-depth-4">
          <%= yield %>
        </div>
      </div>
      <%= render 'layouts/fab'%>
    </main>
    <footer>
      <%= render 'layouts/footer'%> 
    </footer>
  </body>
</html>
